@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Arvo:wght@700&display=swap');


body::-webkit-scrollbar {
   display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

